{% extends 'base.html' %}

{% block title %}
Додати статтю
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="fs-1 text-muted default_cursor_cs">Додавання статті</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Введіть назву" value="" required=""><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Введіть трейлер"  required=""></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Введіть головний текст"  required=""></textarea><br>
        <input type="submit" class="btn btn-success" value="Надіслати">
    </form>
</div>
{% endblock %}
