{% extends 'base.html' %}

{% block title %}
Головна
{% endblock %}

{% block body %}
<div class="container pricing-header p-3 pb-md-4 mx-auto text-center default_cursor_cs">
          <h1 class="fs-1 text-muted default_cursor_cs">Діліться своїми подіями!</h1>
          <p class="fs-5 text-muted default_cursor_cs">Діліться своїми подіями і підтримуйте інших </p>
    <center><div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden default_cursor_cs" style="width: 1150px; height: 650px; border-radius: 21px 21px 0 0;">
      <div class="my-3 py-3">
        <h2 class="display-5">Будьте як вони</h2>
        <p class="lead">Радійте кожному моменту в житті</p>
      </div>
      <div class="bg-light shadow-sm mx-auto default_cursor_cs" style="width: 54%; height: 375px; border-radius: 14px 14px 0 0;">
          <img src="https://media.istockphoto.com/id/1159094800/photo/mother-father-children-son-and-daughter-on-sunset.jpg?s=612x612&w=0&k=20&c=D7jhSvfz3XbqqI4xBcAv-JeXwVbzg0tgBUHrwKfWRFc=">
      </div>
    </div><br></center>
    <center><div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden default_cursor_cs" style="width: 1150px; height: 900px; border-radius: 21px 21px 0 0;">
      <div class="my-3 p-3 default_cursor_cs">
        <h2 class="display-5 default_cursor_cs">Читайте книги</h2>
        <p class="lead default_cursor_cs">Розвивайтесь і фізично, і душевно</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto default_cursor_cs" style="width: 1050px; height: 585px; border-radius: 21px 21px 0 0;">
          <img src="https://ychef.files.bbci.co.uk/976x549/p03gg1lc.jpg">
      </div>
    </div><br></center>

</div>
{% endblock %}